<div class="nav">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/calendar"><li>Calendar</li></a>
        <a href="/profile/list"><li>Profiles</li></a>
        <a href="/dietaryRequirements"><li>Dietary Requirements</li></a>
        <a href="/addUser"><li>New Profile</li></a>
    </ul>
</div>