<div class="centerStuffInThisBox">
    <ul>
        <a id="navbar" href="/"><li>Home</li></a>
        <a id="navbar" href="/calendar"><li>Calendar</li></a>
        <a id="navbar" href="/profile"><li>Profiles</li></a>
        <a id="navbar" href="/dietaryRequirements"><li>Dietary Requirements</li></a>
        <a id="navbar" href="/addUser"><li>New Profile</li></a>
    </ul>
</div>