<div class="starImgs">
        {{!-- <img class="starLeftTop" src="/images/starsLeftTop.png" alt="Shooting stars">
        <img class="starRightTop" src="/images/starsRightTop.png" alt="Shooting stars">
        <br>
        <img class="starLeftBottom" src="/images/starsLeftBottom.png" alt="Shooting stars">
        <img class="starRightBottom" src="/images/starsRightBottom.png" alt="Shooting stars">
         --}}

        <img class="starLeftTop" src="/images/spiral.png" alt="Shooting stars">
        <img class="starRightTop" src="/images/spiral.png" alt="Shooting stars">
        <br>
        <img class="starLeftBottom" src="/images/spiralBottom.png" alt="Shooting stars">
        <img class="starRightBottom" src="/images/spiralBottom.png" alt="Shooting stars">
</div>