<h2>Going away? Well, you're on the right page</h2>
<h3>Here you can note down when you are off on adventures and not around for dinner</h3>

{{!-- do I put id in here? I want it do go to this from profile page and take ID with it --}}
<form action="/addDayAway xxxxxxxx" method="POST"> 
{{!-- How does the calendar work? --}}
{{!-- Name: <input type="text" name="name"><br> --}}
<a href="/calendar"><input type="submit" value="Done! Now show me the calendar!"></a>
</form>

