<h2>Going away? Well, you're on the right page</h2>
<h3 class="centerText">Here you can note down when you are off on adventures and not around for dinner</h3>

<form action="/addDayAway/:id" method="POST"> 

<section>
    Date away:
    <input class="textBox" type="text" name="dayEntered" value="">
</section>

</section>
<section class="buttonWrap" >
    <input class="button buttonLarge buttonAtBottom" type="submit" value="Done! Now show me the calendar!">
</section>
{{!-- STRETCH --}}
{{!-- Name: <input type="text" name="name"><br> --}}
{{!-- if day already picked ask if they want to pick another day or take day from who already has that day --}}

</form>

