<h1>A new face, welcome!</h1>
<h2>Here you can sign up and get cooking for your beloved house-mates. Oh how wonderful!</h2>

<form action="/addUser" method="POST">
  <section>
      Name: 
    <input class="textBox" type="text" name="name">
  </section>
  
  <section class="spacerTop" >
    Photo: 
    <input class="button buttonSmall" type="file" name="userImage">
  </section>
  
  {{!-- <section class="spacerTop">
      Dietary Requirements: 
    <input class="textBox" type="text" name="dietaryR">
  </section>
   --}}
  <section class="buttonWrap">
    <a href="/calendar"><input type="submit" class="button buttonLarge buttonAtBottom" name="newUser" value="Done! Now show me the calendar!"></a>
  </section>
</form>

