{{>nav}}

<h1>A new face, welcome!</h1>
<h2>Here you can sign up and get cooking for your beloved house-mates. Oh how wonderful!</h2>

<form action="/calendar" method="POST">
Name: <input type="text" name="name"><br>
Photo: <input type="image" name="img"><br>
Dietary Requirements: <input type="text" name="dietaryR"><br>
<input type="submit" value="Hooray!!">
</form>