<h1>A new face, welcome!</h1>
<h2>Here you can sign up and get cooking for your beloved house-mates. Oh how wonderful!</h2>

<form class="addUserForm" action="/" method="POST">
  <section>
      Name: 
    <input class="textBox" type="text" name="name">
  </section>
  
  <section class="spacer" >
    Photo: 
    <input class="button" type="file" name="imgToUpload">
  </section>
  
  {{!-- <section class="spacer">
      Dietary Requirements: 
    <input class="textBox" type="text" name="dietaryR">
  </section>
   --}}
  <section class="buttonWrap">
    <a href="/calendar"><input type="submit" class="button bottomAtButton" name="newUser" value="Done! Now show me the calendar!"></a>
  </section>
</form>

