<h1>Dietary Requirements</h1>

<div>
    {{#if data}} 
    <div class="centerText" >
        <img  class="dRImg" src="/images/turtle.jpg" alt="A turtle about to eat a strawberry">
    </div>
    <h3 class="centerText">The people have spoken! Your challenge is to make a meal but not just any 
        meal, one which is amazeballs for people who have the following requirements:</h3>
<ul class="customBulletsBox centerList" >
{{#each data}}
    <a class="customBullets" href="/profile/{{person_id}}"><li style="listStyleImage: url('/images/{{user_image}}'); padding: .3em 0 1em 40px;">{{requirement}}</li></a>
{{/each}}
{{else}}
    <img class="dRImg" src="/images/squirrel.jpg" alt="A squirrel stuffing nuts into its mouth">
    <p class="centerText" >
        No one has entered any dietary requirements, whahoo! 
        Make whatever your stomach desires!
    </p>
{{/if}}
</ul>
</div>

<div class="centerText">
    <h2>Remembered you are highly allergic to nuts? Quick, add it to your profile!</h2>
    
</div>