/* colours:
light brown of nave hover - rgb(255, 225, 187)
brown mid of nav - rgb(226, 199, 164)
brown of background - rgb(199, 154, 96)
dark grey of nav font - rgb(56, 56, 56)

Fonts:
main font - font-family: 'Noto Sans', sans-serif;
secondary font (in caps) - font-family: 'Roboto', sans-serif
*/




html, body {
  /* height: 100%; */
  /* font-family: 'Roboto', sans-serif */
  font-family: 'Noto Sans', sans-serif;
}

#navbar li {
  display: inline-block;
  /* margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
}

#navbar:hover {
  background-color: rgb(255, 225, 187);
  color: rgb(56, 56, 56);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(199, 154, 96);
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 15px 20px rgba(255, 225, 187,  0.4);
}

form, #navbar {
  background-color: rgb(226, 199, 164);
  color: dimgrey;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}




body {
  background-color: rgb(199, 154, 96);
  color: rgb(56, 56, 56);
  /* font-family: 'McLaren', cursive; */
}

h1 {
  color: rgb(31, 24, 43);
}

.centerText, h1, h2 {
  text-align: center;
}

.centerList {
  margin-left: 40%;
}

.centerThisBox {
  display: flex;
  justify-content: center;  
}

.spacerTop {
  padding-top: 2%;
}

.spacerBottom {
  padding-bottom: 2%;
}

.hoverBackground:hover {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 225, 187);
}

.highlight {
  background-color: rgba(31, 24, 43, 0.397);
}




.bunnyImg, .dRImg, .profileImg, .starImgs, .profilePageImg {
  border-radius: 25px;
}

.bunnyImg {
  width: 60%;
  /* margin-left: 20%; */
}

.dRImg, .profilePageImg {
  height: 25%;
}

.imgBox {
  display: flex;
}

.profileImgBlock {
  /* width: 30%;
  height: 50%; */
  /* text-align: center; */
  /* display: block; */
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.profileImg {
  /* z-index: 2; */
  /* height: 80%;
  border-radius: 100%;
  margin-left: 12%;
  margin-top: 12%;
  position: relative; */

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);    
}

.starImgs {
  /* z-index: 1; */
  position: absolute;
  /* display: none; */
  /* visibility: hidden;  */
}

.profileImg:hover  + .starImgs{
  display: block;
  /* visibility: visible;  */
}

.starLeftTop, .starRightTop, .starLeftBottom, .starRightBottom {
  height: 200px;
  width: 200px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  /* display: block; */
  float: left;
}

.starLeftTop {
  border-radius: 25% 0px 0px 0px;
}

.starRightTop {
  border-radius: 0px 25% 0px 0px;
}

.starRightBottom {
  border-radius: 0px 0px 25% 0px;
}

.starLeftBottom {
  border-radius: 0px 0px 0px 25%;
}

/* .starLeftTop, .starRightTop {
  display: block;
  float:left;
}

.starLeftBottom, .starRightBottom {
  float:left;
  margin-top: 200px;
  margin-left: 0px;
} */




.buttonWrap {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.button {
  /* width: 340px; */
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(56, 56, 56);
  background-color: rgb(255, 225, 187);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: rgb(114, 231, 185);
  box-shadow: 0px 15px 20px rgba(114, 231, 185, 0.4);
  color: rgb(56, 56, 56);
  transform: translateY(-7px);
}
 .buttonLarge {
  height: 45px;
 }

 .buttonSmall {
  height: 25px;
 }

.buttonAtBottom {
  margin-top: 5%;
}

.buttonDropdown {
  height: 25px;
}

.buttonDropdown option {
  background-color: rgb(114, 231, 185);
  box-shadow: 0px 15px 20px rgba(114, 231, 185, 0.4);
  color: rgb(56, 56, 56);
}

.textBox {
  border-radius: 12px;
}

form {
  /* text-align: center; */
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* ul.customBullets {
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
} */

/* ul.customBulletsBox {
  margin-left: 40px;
  list-style:none;
} */

/* .dropdownList {
  background-color: rgb(114, 231, 185);
  box-shadow: 0px 15px 20px rgba(114, 231, 185, 0.4);
  color: rgb(56, 56, 56);
} */



/* calendar styling */

.calendar {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgba(255, 0, 0, 0.226);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  border-color: rgba(0, 0, 255, 0.267);
}

.green-column {
  border-color: rgba(0, 128, 0, 0.295);
}

.green-column, .blue-column {
  border-style: solid;
  border-width: 5px;
  height: 180px;
}
