/* colours:
light brown of nave hover - rgb(255, 225, 187)
brown mid of nav - rgb(226, 199, 164)
brown of background - rgb(199, 154, 96)
dark grey of nav font - rgb(56, 56, 56)

Fonts:
main font - font-family: 'Noto Sans', sans-serif;
secondary font (in caps) - font-family: 'Roboto', sans-serif
*/


html, body {
  height: 100%;
  /* font-family: 'Roboto', sans-serif */
  font-family: 'Noto Sans', sans-serif;
}

#nav {
  /* padding: 0px;
  display:inline-block;
  margin: 0 auto;
  padding-left: 20%;
  margin-left: 20%;
  margin-inline-start: 10%; */
}

#navbar li {
  display: inline-block;
  /* margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
}

#navbar:hover {
  background-color: rgb(255, 225, 187);
  color: rgb(56, 56, 56);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(199, 154, 96);
  border-radius: 12px;
}

form, #navbar {
  background-color: rgb(226, 199, 164);
  color: dimgrey;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}




body {
  background-color: rgb(199, 154, 96);
  color: rgb(56, 56, 56);
  /* font-family: 'McLaren', cursive; */
}

h1 {
  color: rgb(31, 24, 43);
  text-align: center;
}

h2 {
  text-align: center;
}

.centerText {
  text-align: center;
}

.spacer {
  padding-top: 2%;
}

.hoverBackground:hover {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 225, 187);
}




/* .formImg {
  border-radius: 25px;
} */

/* .homeImg {
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  /* max-width: ;
  min-width: ;
} */

.bunnyImg, .dRImg, .profileImg, .starImgs {
  border-radius: 25px;
}

.bunnyImg {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.dRImg {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.imgBox {
  display: flex;
}

.profileImgBlock {
  /* width: 30%;
  height: 50%; */
  /* text-align: center; */
  /* display: block; */
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profileImg {
  /* z-index: 2; */
  /* height: 80%;
  border-radius: 100%;
  margin-left: 12%;
  margin-top: 12%;
  position: relative; */

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.starImgs {
  /* z-index: 1; */
  position: absolute;
  /* display: none; */
  /* visibility: hidden;  */
}

.profileImg:hover  + .starImgs{
  display: block;
  /* visibility: visible;  */
}

.starLeftTop, .starRightTop, .starLeftBottom, .starRightBottom {
  height: 200px;
  width: 200px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  /* display: block; */
  float: left;
}

.starLeftTop {
  border-radius: 25% 0px 0px 0px;
}

.starRightTop {
  border-radius: 0px 25% 0px 0px;
}
.starRightBottom {
  border-radius: 0px 0px 25% 0px;
}
.starLeftBottom {
  border-radius: 0px 0px 0px 25%;
}

/* .starLeftTop, .starRightTop {
  display: block;
  float:left;
}

.starLeftBottom, .starRightBottom {
  float:left;
  margin-top: 200px;
  margin-left: 0px;
} */

.profileListImgages {

}




.buttonWrap {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.button {
  /* width: 340px; */
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(56, 56, 56);
  background-color: rgb(255, 225, 187);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: rgb(114, 231, 185);
  box-shadow: 0px 15px 20px rgba(114, 231, 185, 0.4);
  color: rgb(56, 56, 56);
  transform: translateY(-7px);
}

.bottomAtButton {
  margin-top: 20%;
}

.textBox {
  border-radius: 12px;
}

.addUserForm {
  /* text-align: center; */
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* ul.customBullets {
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
} */

/* ul.customBulletsBox {
  margin-left: 40px;
  list-style:none;
} */